<style type="text/css">
	.frame {border: 2px solid rgb(202, 202, 202); float: left; margin-left: 15px; margin-bottom: 20px; border-radius: 2px;}
	.images {margin: 10px; height: 400px;}
	.title {background-color: rgb(225, 225, 225); border-bottom: 2px solid rgb(202, 202, 202); padding-bottom: 5px; padding-top: 5px; padding-left: 5px;}
	.info {border-top:2px solid rgb(202, 202, 202); padding-bottom: 5px; padding-top: 5px; background-color: #009999; padding-left: 5px;}
	.inforechts {float: right; margin-right: 15px;}
	b {color: black;}
</style>

<div style="margin-top:40px" class="pure-u">
	<% if !filme.nil? %>
	  <% for film in filme %>
		<div class="frame span4">
			<div class="title">
				<b><%= "#{film.title.slice!(0, 24)}" %><%= "..." if (film.title.length > 24) %></b>
			</div>
			<div class="images">
				<img alt="<%= film.title %>" src="<%= film.imgurl %>" style="height:400px;">
			</div>
			<div class="info">
				<b><a href="https://www.themoviedb.org/movie/<%= film.movieId%>">Mehr</a><span class="inforechts"><%= film.releaseYear %></span></b>
			</div>
		</div>
	  <% end %>
	<% else %>
	  <!--<h1>No movie!</h1>-->
	<% end %>
</div>